
.tic-tac-toe-cont::after{
    clear: both;
    content: "";
    display: table;
}

.square{
    border: 1px solid red;
    float: 1px;
    font-size: 50px;
    height: 100px;
    padding: 0px;
    text-align: center;
    width: 100px;
    margin-right: -1px;
    margin-top: -1px;
    cursor: pointer;
}